@font-face {
  font-family: "TT Lakes-Medium";
  src: url("/src/fonts/TTLakes-Medium.ttf") format("truetype");
}

body {
  font-family: "TT Lakes-Medium", Arial, sans-serif;
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: 8px;
  color: #7e7e82;
  margin: 16px;
  flex-wrap: wrap;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  width: 100%;
}

.brand {
  overflow: hidden;
  height: 170px;
  width: 100%;
}
.brand-open {
  height: 460px;
}

.brand__type {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  width: 97%;
}

.brand__type a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 0 16px;
  width: 210px;
  height: 72px;
  background-color: #ffffff;
  //padding-right: 10px;
}

.swiper-slide {
  height: 150px;
  flex-shrink: 0;
}
.swiper__page {
  display: flex;
  justify-content: center;
  height: 50px;
}
.swiper-pagination-bullet {
  background: #b5b6bc;
}
.brand__controls {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 16px;
  margin-top: 16px;
}

.rotated {
  transform: rotate(180deg);
}
.brand__controls button {
  text-decoration: none;
  color: black;
  background: none;
  border: none;
}

@media (768px <= width <= 1440px) {
  .brand__type {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 250px 250px 250px;
    height: 72px;
    grid-row-gap: 16px;
    grid-column-gap: 1px;
  }
  .brand-open {
    height: 350px;
  }
  .swiper__page {
    display: none;
  }
}
@media (0px <= width <= 767px) {
  .brand__controls {
    display: none;
  }
  .brand {
    height: 150px;
  }
  .swiper {
    width: 100vw;
    height: 150px;
  }
}

@media (1440px <= width <= 4000px) {
  .brand__type {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 72px;
    margin: 0;
    grid-row-gap: 16px;
    width: 96%;
    margin-left: 25px;
  }
  .brand-open {
    height: 280px;
  }
  .brand__type a {
    width: 220px;
  }
  .swiper__page {
    display: none;
  }
}

@media (width >= 765px) {
  .swiper-slide {
    width: 200px;
    height: unset;
  }
}
